html, body {
    font-family: "Playfair Display", serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.userPage-message p{
  display: flex;
  align-items: center;
  text-align: center;
}

.user-body{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(180deg, #ffffff, #d3d3d3);
  min-height: 100%;
  
}

.user-info-container{
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 10px 20px 20px rgba(0,0,0,0.1);
  padding: 20px 40px;
  border-radius: 26px;
  width: 440px;
  min-height: 670px;
  max-height: 870px;
  margin-top: 40px;
  gap: 20px;
}

.user-info-container h3{
  font-size: 20px;
  font-weight: 200;
  margin-left: 20px;
  margin-right: 20px;
}

.user-info-container h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #2247CC;
}

.username-display,
.email-display,
.password-display,
.info-display{
  display: flex;
  align-items: center;
}

.username-container p,
.email-container p,
.password-container p,
.info-container p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 26px;
  margin: 0;
}

.username-display img,
.email-display img,
.password-display img,
.info-display img{
  width: 46px;
  height: 46px;
}

.username-display button,
.email-display button,
.password-display button,
.info-display a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 80px;
  height: 40px;
  border: none;
  background-color: #2247CC;
  color: white;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto; 
}

.username-display button:hover,
.email-display button:hover,
.password-display button:hover,
.info-display a:hover {
  cursor: pointer;
  background-color: #1233aa;
}

.delete-btn-container{
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.delete-btn-container button{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration-line: none;
  width: 160px;
  height: 60px;
  background-color: #2247CC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 30px;
  border: none;
}

.delete-btn-container button:hover{
  cursor: pointer;
  background-color: #1233aa;
}

.username-form,
.email-form{
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.username-form img,
.email-form img{
  width: 46px;
  height: 46px;
}

.username-form input,
.email-form input{
  height: 40px;
  width: 230px;
  border: 1px solid rgba(0,0,0,0.2);
  padding-left: 30px;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  margin-left: 10px;
}

.password-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.password-input-container{
  display: flex;
}

.password-input-container img{
  width: 46px;
  height: 46px;
}

.password-form input{
  height: 40px;
  width: 290px;
  border: 1px solid rgba(0,0,0,0.2);
  padding-left: 30px;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  margin-left: 10px;
  margin-bottom: 10px;
}

.password-btn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.save-btn{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration-line: none;
  width: 70px;
  height: 46px;
  background-color: #2247CC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
}

.save-btn:hover{
  cursor: pointer;
  background-color: #1233aa;
}

.cancel-btn{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration-line: none;
  width: 90px;
  height: 46px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2247CC;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
}

.cancel-btn:hover{
  cursor: pointer;
  background-color: #eeeeee;
}